// Customizations Here

//Container-Header
$hero-body-padding: 0px;

//footer
$footer-padding:3rem 1.5rem 1rem;


//footer menus's
$menu-item-color: #E8E8E8;
$menu-list-link-padding:0.2em 0em;
$menu-label-spacing: 0em;
$menu-label-font-size:35px;
$menu-label-color: white;


// Bulma Import
@import '~bulma/bulma';


